[submodule "client"]
	path = client
	url = https://github.com/randyL78/blog_client.git
[submodule "comments"]
	path = comments
	url = https://github.com/randyL78/javaee_comments.git
[submodule "posts"]
	path = posts
	url = https://github.com/randyL78/javaee_posts.git